* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

.appheader{
  background-color: rgba(200, 223, 235, 0.577);
  align-items: center;
}

.appimg{
 align-self: center;
}

input, label {
  display: block;
  width: 60%;
}

label {
  margin: 0.5rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 0.4rem;
}

.App {
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
}

.post{
  padding: 10px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border: 5px solid rgb(22, 102, 164);
  max-width: 45rem;
  align-items: center;
}

.image, img{
  max-width: 70%;
  max-height: 20%;
  margin-left: 32px;
  margin-top: 1rem;
}

.doggo{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border: solid 5px rgb(132, 177, 255);
  max-width: 35rem;
}

.dogProfPic{
  max-width: 25rem;
  max-height: 25rem;
  border-radius: 30px 30px;
}

input{
  border: rgba(74, 171, 201, 0.824) solid 5px;
}

label{
  font-weight: bolder;
}

button{
  background-color: rgba(67, 147, 218, 0.824);
  color: aliceblue;
  padding: 5px;
  font-size: large;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navlinks{
  background-color: rgb(40, 125, 181);
  overflow: hidden;
  list-style: none;
}
.navlinks a{
  float: left;
  color: #f5f5f5;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navlinks a:hover{
  background-color: rgb(34, 214, 255);
  cursor: pointer;
}

       
.styleNormal{
  font-style: normal;
}

.styleBold{
  font-style: bolder;
}

.styleItalics{
  font-style: italic;
}

.styleUnderline{
  text-decoration: underline black 5px;
}

.alignmentLeft{
text-align: left;
} 
.alignmentRight{
text-align: right;
}
.alignmentCenter{
text-align: center;
}
.alignmentJustified{
text-align: justify;
}
.fontSizeSmall{
font-size: medium;
}
.fontSizeMedium{
font-size: larger;
}
.fontSizeLarge{
font-size: x-large;
}
.fontSizeJumbo{
font-size: 250%;
}


.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
