* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  
}

.appheader{
  background-color: rgb(0, 0, 0);
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.appimg{
 align-self: center;
}

input, label {
  display: block;
  width: 60%;
}

label {
  margin: 0.5rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 0.4rem;
  background-color: white;
}

.addBtn, .addPostBtn{
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  align-items: center;
  border-radius: 15px;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn:hover{
  background-color: rgb(64, 160, 224);
  color: black;
}

.followBtn{
  background-color: rgb(0, 187, 255, 0.911);
  border-radius: 10px;
}

.followBtn:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}

.voteBtn{
  border-radius: 15px;
  margin: 10px;
  display: flex;
}

.voteBtn:hover{
  background-color: rgb(70, 97, 114);
  color: white;
}

.calendar {
  max-width: 60rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
}

.post, .discussionBrd{
  padding: 10px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: white;
  border: 6px solid rgb(31, 180, 225);
  border-radius: 20px;
  box-shadow: 6px 12px 12px 12px gray;
  max-width: 45rem;
  align-items: center;
}

.postDate{
  font-size: small;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 15px;
}

.postProPic{
  border-radius: 85%;
  max-width: 10%;
  max-height: 5%;
}

.convos{
  padding: 10px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  
}

.image, img{
  max-width: 25rem;
  max-height: 30rem;
  margin-left: 32px;
  margin-top: 1rem;
  border-radius: 25px;
}

.doggo{
  padding: 10px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: white;
  border: 8px solid rgb(31, 180, 225);
  border-radius: 20px;
  box-shadow: 0px 12px 8px 2px gray;
  max-width: 40rem;
  align-items: center;
}

.doggoName{
  margin-left: 12rem;
margin-right: auto;
}

.dogProfPic{
  max-width: 25rem;
  max-height: 25rem;
  border-radius: 30px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.messagePic{
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 75%;
  background-color: white;
}

.userProfPic{
  max-width: 40%;
  max-height: 12rem;
  border-radius: 50%;
  background-color: white;
  position: relative;
  float: right; 
  margin: 5px 5px 15px 15px;
  overflow: hidden;
}

.div{
  justify-content: space-between;
  display: flex;
}

.picDiv{
display: flex;
justify-content: right;
}

.userPic, .owner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 
.profile-container{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  text-align: center;
  border-bottom: 4px solid black ;
  border-radius: 25px;
  justify-content: space-evenly;
  font-size: 1.45rem;
}

.usersNames{
  margin-top: 50px;
  text-align: right;
  margin-bottom: 60px;
}

.profPosts{
  display: flex;
  align-items: stretch;
  margin-left: 25px;
}
.profPostHdr{
margin-bottom: 40px;
}

input{
  border: rgba(10, 12, 12, 0.824) solid 5px;
  border-radius: 20px;
}

label{
  font-weight: bolder;
}

button{
  background-color: rgba(0, 187, 255, 0.911);
  border-radius: 25px;
  color: aliceblue;
  padding: 5px;
  font-size: large;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navlinks{
  background-color: rgb(52, 179, 218);
  overflow: hidden;
  list-style: none;
  border-radius: 12px;
}
.navlinks a{
  float: left;
  color: #f5f5f5;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navlinks a:hover{
  background-color: rgb(34, 214, 255);
  cursor: pointer;
}

.likedNum{
  font-size: medium;
  text-align: left;
  font-weight: bolder;
  color: #67a9e2;
}
       
.styleNormal{
  font-style: normal;
}

.styleBold{
  font-style: bolder;
}

.styleItalics{
  font-style: italic;
}

.styleUnderline{
  text-decoration: underline black 5px;
}

.alignmentLeft{
text-align: left;
} 
.alignmentRight{
text-align: right;
}
.alignmentCenter{
text-align: center;
}
.alignmentJustified{
text-align: justify;
}
.fontSizeSmall{
font-size: medium;
}
.fontSizeMedium{
font-size: larger;
}
.fontSizeLarge{
font-size: x-large;
}
.fontSizeJumbo{
font-size: 250%;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapDiv{
  position: relative;
  width: 800px;
  height: 600px;
  margin: 10px 30px 30px 30px;
}
.mapContainer {
  position: fixed;
  height: 85%;
  width: 85%;
}

.col-left {
  background-color: aqua;
  border-radius: 20px;
  align-content: center;
}

.m-title {
  padding-bottom: 0.5rem;
}

.discussionHeader{
  font-size: xx-large;
}x

.discussionBody{
  font-size: x-large;
  text-align: center;
  margin: 10px;
  background-color: white;
  padding: 15px;
  width: 100%;
  text-align: justify;
}

.discussionDetail{
  border-bottom: rgb(120, 132, 138) 5px solid;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 25px;
}

.answerHeader{
  font-size: large;
}

.indivNote, .message, .comments{
  border: rgb(191, 191, 191) 3.5px solid;
  border-radius: 25px;
  background-color: white ;
  margin-top: 8px;
  padding: 5px;
  border-radius: 15px;
  max-width: 100%;
}


.sentInfo{
  color: rgb(0, 166, 255);
}

.id_num{
  display: none;
}

.search{
  padding: 20px;
  margin: auto;
  align-content: center;
}

.addC-form-field{
  border: rgb(10, 12, 12, 0.824) 3.5px solid;
  border-radius: 10px;
  margin-top: 8px;
  padding: 5px;
  border-radius: 15px;
  max-width: 75%;
  background-color: white;
}

.noteDetail{
  margin: 6px;
}

.convoHdr{
  font-size: x-large;
  padding: 14px;
  background-color: #030304;
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 0px 12px 8px 2px gray;
 display: flex;
}

.convoHdr:hover{
color: #0befff;
}

.wholeConvoPage{
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
}

.bm-burger-button {
  position: sticky;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.bm-burger-bars {
  background: #000000;
}

.bm-burger-bars-hover {
  background: #0befff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #313131;
  padding: 1em .8em 0;
  font-size: 1.15em;
  border-radius: 12px;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}


.bm-overlay {
  background: rgba(65, 121, 147, 0.988);
  border-radius: 12px;
}